.loader {
        transform: rotateZ(45deg);
        perspective: 1000px;
        border-radius: 50%;
        width: 48px;
        height: 48px;
        color: #fff;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        -webkit-transform: rotateZ(45deg);
        -moz-transform: rotateZ(45deg);
        -ms-transform: rotateZ(45deg);
        -o-transform: rotateZ(45deg);
}
        .loader:before,
        .loader:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: inherit;
          height: inherit;
          border-radius: 50%;
          transform: rotateX(70deg);
          animation: 1s spin2   linear infinite;
          -webkit-animation: 1s spin2   linear infinite;
          -webkit-transform: rotateX(70deg);
          -moz-transform: rotateX(70deg);
          -ms-transform: rotateX(70deg);
          -o-transform: rotateX(70deg);
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
}
        .loader:after {
          color: #155dfc;
          transform: rotateY(75deg);
          animation-delay: .4s;
          -webkit-transform: rotateY(75deg);
          -moz-transform: rotateY(75deg);
          -ms-transform: rotateY(75deg);
          -o-transform: rotateY(75deg);
}

      @keyframes rotate {
        0% {
          transform: translate(-50%, -50%) rotateZ(0deg);
          -webkit-transform: translate(-50%, -50%) rotateZ(0deg);
          -moz-transform: translate(-50%, -50%) rotateZ(0deg);
          -ms-transform: translate(-50%, -50%) rotateZ(0deg);
          -o-transform: translate(-50%, -50%) rotateZ(0deg);
}
        100% {
          transform: translate(-50%, -50%) rotateZ(360deg);
          -webkit-transform: translate(-50%, -50%) rotateZ(360deg);
          -moz-transform: translate(-50%, -50%) rotateZ(360deg);
          -ms-transform: translate(-50%, -50%) rotateZ(360deg);
          -o-transform: translate(-50%, -50%) rotateZ(360deg);
}
      }

      @keyframes rotateccw {
        0% {
          transform: translate(-50%, -50%) rotate(0deg);
          -webkit-transform: translate(-50%, -50%) rotate(0deg);
          -moz-transform: translate(-50%, -50%) rotate(0deg);
          -ms-transform: translate(-50%, -50%) rotate(0deg);
          -o-transform: translate(-50%, -50%) rotate(0deg);
}
        100% {
          transform: translate(-50%, -50%) rotate(-360deg);
          -webkit-transform: translate(-50%, -50%) rotate(-360deg);
          -moz-transform: translate(-50%, -50%) rotate(-360deg);
          -ms-transform: translate(-50%, -50%) rotate(-360deg);
          -o-transform: translate(-50%, -50%) rotate(-360deg);
}
      }

      @keyframes spin {
        0%,
        100% {
          box-shadow: .2em 0px 0 0px currentcolor;
        }
        12% {
          box-shadow: .2em .2em 0 0 currentcolor;
        }
        25% {
          box-shadow: 0 .2em 0 0px currentcolor;
        }
        37% {
          box-shadow: -.2em .2em 0 0 currentcolor;
        }
        50% {
          box-shadow: -.2em 0 0 0 currentcolor;
        }
        62% {
          box-shadow: -.2em -.2em 0 0 currentcolor;
        }
        75% {
          box-shadow: 0px -.2em 0 0 currentcolor;
        }
        87% {
          box-shadow: .2em -.2em 0 0 currentcolor;
        }
      }
   
      @keyframes spin2 {
        0%,
        100% {
          box-shadow: .2em 0px 0 0px currentcolor;
        }
        12% {
          box-shadow: .2em .2em 0 0 currentcolor;
        }
        25% {
          box-shadow: 0 .2em 0 0px currentcolor;
        }
        37% {
          box-shadow: -.2em .2em 0 0 currentcolor;
        }
        50% {
          box-shadow: -.2em 0 0 0 currentcolor;
        }
        62% {
          box-shadow: -.2em -.2em 0 0 currentcolor;
        }
        75% {
          box-shadow: 0px -.2em 0 0 currentcolor;
        }
        87% {
          box-shadow: .2em -.2em 0 0 currentcolor;
        }
      }